%h2
  O Pszczółce

%p
  Misją Gabinetu Logopedycznego Pszczółka jest gruntowna diagnoza (na którą składa się badanie wszystkich
  funkcji psychicznych, fizycznych i ocena rozwoju mowy dziecka) oraz efektywna indywidualna terapia.

%p
  Gabinet Logopedyczny Pszczółka opieką obejmuje już kilkumiesięczne niemowlęta, gdyż wczesna interwencja
  logopedyczna daje dziecku szansę na prawidłowy rozwój.
  Stymulacji takiej powinny zostać poddane dzieci, u których zauważa się brak pewnych zachowań
  komunikacyjnych (m.in.: brak kontaktu wzrokowego, niepodążanie wzrokiem za bliskimi, brak gaworzenia).

%p
  U dzieci starszych prowadzona jest terapia wad wymowy, takich jak: niezakończony rozwój mowy, opóźniony
  rozwój mowy, seplenienie, kapacyzm, reranie.

%p
  W zakresie działalności Gabinetu Logopedycznego Pszczółka leży także profilaktyka i terapia dysleksji,
  diagnozowanie w kierunku zagrożenia dysleksją, a także terapia zaburzeń mowy i komunikacji o typie
  afazji, alalii i autyzmu.

%p
  Terapia prowadzona jest Metodą Krakowską i opiera się na nauce czytania metodą symultaniczno-sekwencyjną
  autorstwa prof. Jagody Cieszyńskiej.
