!!! 5
/[if lt IE 7]
  %html.no-js.lt-ie9.lt-ie8.lt-ie7
/[if IE 7]
  %html.no-js.lt-ie9.lt-ie8
/[if IE 8]
  %html.no-js.lt-ie9
/[if gt IE 8]
  %html.no-js

%head
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  %title
    Gabinet Logopedyczny Pszczółka
  %meta{:name => "description", :content => ""}
  %meta{:name => "viewport", :content => "width=device-width"}
  %link{:rel => "stylesheet", :href => "stylesheets/normalize.css"}
  %link{:rel => "stylesheet", :href => "stylesheets/main.css"}
  %link{:rel => "stylesheet", :href => "stylesheets/layout.css"}
  %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
  %script{:src => "js/vendor/jquery-1.9.0.min.js"}
  %script{:src => "js/plugins.js"}
  %script{:src => "js/main.js"}
%body
  %table#floater
    %tr
      %td
        #main-frame
          #navigation
            %h1
              Gabinet Logopedyczny Pszczółka
            #bee
            %table#content-table
              %td.center
                #content
                  = yield
            #leaves-lb.leaves
            #leaves-rb.leaves
            #flower-01.flower
            #flower-02.flower
            #flower-03.flower
            #flower-04.flower
            #flower-05.flower
            #flower-06.flower
            #flower-07.flower
  :javascript
    $("#main-frame").click(function () {
      $(this).toggleClass("slide-left");
    });
  :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
